@import "tailwindcss";

* {
  font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

@theme {
  --color-b-dark-green: #1E3932;
  --color-b-green: #32472F;
  --color-b-light-green: #D6DDC7;
  --color-b-grey: #f3f1e7;


}

@layer base {
  h1 {
    font-size: var(--text-4xl);
    line-height: 1.1;
  }
  h2{
    font-size: var(--text-2xl);
  }
  h3{
    font-size: var(--text-xl);
  }
  h4{
    font-size: var(--text-lg);
  }
  p {
    font-size: var(--text-base);
  }
}


@media screen and (min-width: 1024px) {
  @layer base {
    h1 {
      font-size: var(--text-5xl);
      line-height: 1.1;
    }
    h2{
      font-size: var(--text-3xl);
    }
    h3{
      font-size: var(--text-2xl);
    }
    h4{
      font-size: var(--text-base);
    }
    p {
      font-size: var(--text-base);
    }
  }
  
}


