@import "tailwindcss";

@theme {
  --color-b-dark-green: #004E35;
  --color-b-light-green: #006242;
  --color-b-very-light-green: #d4e9e2;
  --color-b-grey: #f3f1e7;
}

* {
  font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}
